.DS_Store
.dockerignore
.env.*.local
.env.local
.git
.gitignore
.idea
.vscode
Dockerfile
README.md
dist
node_modules
npm-debug.log*
pnpm-debug.log*
tests/e2e/screenshots/
tests/e2e/videos/
yarn-debug.log*
yarn-error.log*
